<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50041359262-qpddvfi2at6lqamedgh7i0gcfv5qt5gq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50041359262-qpddvfi2at6lqamedgh7i0gcfv5qt5gq</string>
	<key>API_KEY</key>
	<string>AIzaSyDN6sGP6NCzAKDtPSLMvrx7FqqPjErZt3s</string>
	<key>GCM_SENDER_ID</key>
	<string>50041359262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.churchhub.app</string>
	<key>PROJECT_ID</key>
	<string>church-hub-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>church-hub-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50041359262:ios:b6bc742e572e1524d4248f</string>
</dict>
</plist>